In [9]:
import pandas as pd
from pathlib import Path

In [10]:
data = pd.read_csv("python_scripts/cleaned_zomato_data.csv")
pd.set_option("display.max_columns",21)

In [11]:
data.head(1)

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Price range,Aggregate rating,Rating color,Rating text,Votes,Country
0,7402935,Skye,94,Jakarta,"Menara BCA, Lantai 56, Jl. MH. Thamrin, Thamri...","Grand Indonesia Mall, Thamrin","Grand Indonesia Mall, Thamrin, Jakarta",106.821999,-6.196778,"Italian, Continental",800000,Indonesian Rupiah(IDR),No,No,3,4.1,Green,Very Good,1498,Indonesia

In [19]:
# cuisinesDim = data[["Restaurant ID","Cuisines"]]
# cuisinesDim.head()

In [20]:
# cuisinesDim["Cuisines"] = cuisinesDim["Cuisines"].str.split(",")
# cuisinesDim

In [22]:
# cuisinesDim = cuisinesDim.explode('Cuisines')
# cuisinesDim.head(5)

In [27]:
cuisinesDim['Cuisines'] = cuisinesDim['Cuisines'].str.strip()
cuisinesDim.head()

   Restaurant ID     Cuisines
0        7402935      Italian
1        7402935  Continental
2        7410290        Asian
3        7410290   Indonesian
4        7410290      Western

In [17]:
data_dir = Path("Data")
data_dir.mkdir(exist_ok = True)

In [18]:
file_path = data_dir/"cuisinesDim.csv"
cuisinesDim.to_csv(file_path,index= False)

In [29]:
data.head(1)

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Price range,Aggregate rating,Rating color,Rating text,Votes,Country
0,7402935,Skye,94,Jakarta,"Menara BCA, Lantai 56, Jl. MH. Thamrin, Thamri...","Grand Indonesia Mall, Thamrin","Grand Indonesia Mall, Thamrin, Jakarta",106.821999,-6.196778,"Italian, Continental",800000,Indonesian Rupiah(IDR),No,No,3,4.1,Green,Very Good,1498,Indonesia